.card {
  display: grid;
  grid-template-rows: 0.7fr 3fr 1.3fr;
  width: fit-content;
  height: 400px;
  justify-self: center;
  align-self: flex-start;
  background-color: #64CEAA;
  box-shadow: 0px 0px 20px 0
  hsla(0, 0%, 28%, 0.2);
}

.card-header {
  background: white;
}

.card-details {
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr calc(1fr - 30px);
  background: white;
  border-top: 1px solid hsl(0, 0%, 92%);
  align-items: center;
  justify-items: center;
}

.card-footer {
  background: radial-gradient(farthest-corner at top right, $color-primary,darken($color-primary,20%));
}