.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

svg {
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  fill:#64CEAA;
  color:#fff;
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }
  
  20% {
    transform: rotate(-25deg);
  }
  
  40% {
    transform: rotate(10deg);
  }
  
  60% {
   transform: rotate(-25deg);
  }
  
  80% {
    transform: rotate(10deg);
  }
  
  100% {
    transform: rotate(0deg);
  }
}

.octo-arm {
  transform-origin: 130px 106px;
}