select {
  width: 100%; // As a side effect the labels position above `select`s
  background-color: white;
  border: 1px solid hsl(0, 0%, 82%);
  border-radius: 3px;
  padding: 10px;
  height: 35px;
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
  margin-top: 4px;
  background: hsl(220,12%,96%);
}

.src-currency, .dest-currency {
  width: 80%;
}